.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.card{
  width: 70%;
  
}

.main{
  margin-top: 20px;
  align-items: center;
 
  background-color: rgb(250, 249, 209);
  background-color: rgb(246, 247, 251);
  background-color: rgb(255, 238, 218);
  background-color: rgb(255, 225, 225);
  background-color: rgb(241, 255, 243);

  background-color: blue;
  background-color: blue;
}

.msg{
  margin-top: 30px;
}